h1{
    font-size: 4em;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    position: absolute;
    bottom: 0;
    font-size: 2em;
}